# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native builds
/android
/ios

# Native / certificates
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro
.metro-health-check*

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Environment files
.env
.env.*
.env*.local

# TypeScript
*.tsbuildinfo

# macOS
.DS_Store

# Temporary / examples
app-example

.vscode/
scripts/